.footer {
	display: flex;
	position: absolute;
	bottom: 0px;
	width: 100%;
	justify-content: center;
	margin: 0px;
}

.footer p {
	text-align: center;
	color: white;
}

@media only screen and (max-width: 600px) {
	.footer {
		display: none;
	}
}
